{% extends 'base.html' %}

{% block content %}
    {% if not ordered_objects %}
        <h1>Здесь нет товаров, чтобы оформить заказ, необходимо что-то заказать <a href="{% url 'main_page_url' %}">здесь</a>
        </h1>
    {% else %}
        <table class="cart">
            <thead>
            <tr>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            {% for item in ordered_objects %}
                <tr>
                    <td><a href="{% url 'items_detail' item.item_id %}">{{ item.item__title }}</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ rented_to }}</td>
            </tr>
            </tbody>
        </table>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Оформить заказ</button>
        </form>
    {% endif %}

{% endblock %}