{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
<div class="body">
    <div class="body__content">
        <div class="body__content__head">
            <h2>Наши товары</h2>
            <div class="body__content__head__filter">
                <form action="{% url 'main_page_url' %}">
                    <select name="category-item">
                        <option selected value="">Все товары</option>
                        <option value="5">Книги</option>
                        <option value="6">Фигурки</option>
                    </select>
                    <input type="text" placeholder="Search" name="search" class="filter-input">
                    <button type="submit" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>

        </div>
        <div class="body__content-list">
            {% block book %}
            {% for book in books_list %}

                {% include 'book.html' %}

            {% endfor %}
            {% endblock %}


            {% block figure %}
            {% for figure in figures_list %}

                {% include 'figure.html' %}

            {% endfor %}
            {% endblock %}
        {% if user.is_authenticated %}
            <p>Hello, {{ user.email }}</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

</body>
</html>